mat-toolbar {
  padding: 0 19px 0 25px;;
  background: #f6f8fb;
}

mat-toolbar-row {
  padding: 19px 0;
  justify-content: space-between;
  align-items: baseline;
}

mat-select {
  width: 110px;  // needs to be replaced with auto-sizing the width of this select dropdown
}

img {
  margin-bottom: -3px;
  margin-left: -3px;
}

.version {
  padding: 0 16px;
  color: #999;
  font-weight: lighter;
  font-size: 75%;
}

.subtitle {
  color: #999;
  font-weight: normal;
  font-size: 90%;
}

.show-small {
  display: none;
}

@media (max-width: 830px) {

  .show-small {
    display: block;
    padding-top: 0;
    height: 45px;
  }

  .hide-small {
    display: none
  }
}
