<mat-toolbar>
  <mat-toolbar-row>

    <span>
      <img src="assets/logotype_2.svg" alt="{{title}}" width="90px" style="margin-bottom:-3px">

      <mat-select class="version"
      [value]="currentVersion"
      (selectionChange)="redirect($event.value)">
        <mat-option
        *ngFor="let version of versions"
        [value]="version">
          {{version.label}}
        </mat-option>
      </mat-select>
    </span>

    <span class="subtitle hide-small">
      {{subtitle}}
    </span>

    <span class="buttons">
      <button mat-button (click)="openAboutDialog()">About</button>
      <button mat-button (click)="openHelpDialog()">Help</button>
      <button mat-button (click)="export()">Export</button>
    </span>

  </mat-toolbar-row>

  <mat-toolbar-row class="show-small">

    <span class="subtitle">{{subtitle}}</span>

  </mat-toolbar-row>

</mat-toolbar>

