<div class="content">
  <!-- <mat-toolbar>Simulation Results</mat-toolbar> -->

  <mat-card>
    <mat-card-title>
      Infection and Immunity Status
    </mat-card-title>
    <!-- <mat-card-subtitle>Prevalence</mat-card-subtitle> -->
    <mat-card-content>
      <app-overview-chart [data]="data1"></app-overview-chart>
      <div style="position: relative">
        <div *ngIf="r0" style="text-align: center;">
          <span>
            Seasonal fluctuation of the basic reproduction number
          </span>
          <nvd3 [options]="sparkLine" [data]="data0"></nvd3>
        </div>
        <button style="position: absolute; top: -30px;"
        mat-button (click)="r0=!r0">R&#x2080;</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Infection and Disease
    </mat-card-title>
    <!-- <mat-card-subtitle>Prevalence</mat-card-subtitle> -->
    <mat-card-content>
      <app-prevalence-chart [data]="data2"></app-prevalence-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>
      New Events
    </mat-card-title>
    <mat-card-subtitle>
      <mat-select class="incidence"
      [(value)]="incidence">
        <mat-option
        *ngFor="let option of options"
        [value]="option">
          {{option.label}}
        </mat-option>
      </mat-select>
    </mat-card-subtitle>
    <mat-card-content>
      <app-prevalence-chart [data]="incidence.data"></app-prevalence-chart>
    </mat-card-content>
  </mat-card>
</div>
