mat-card {
  margin-bottom: 10px;
}

mat-card-title, mat-card-subtitle {
  padding: 0 8px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart {
  flex: 2 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid red;
  background: linen;
}


.content {
  overflow: auto;
}

mat-select {
  width: 180px;  // needs to be replaced with auto-sizing the width of this select dropdown
}

mat-toolbar {
  display: flex;
  justify-content: center;
  color: #999;
}

app-overview-chart {
  width: 100%;
  height: 100%;
}

app-prevalence-chart {
  width: 100%;
  height: 100%;
}

app-incidence-chart {
  width: 100%;
  height: 100%;
}

mat-tab {
  height: 30vh;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-body.mat-tab-body-active {
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


mat-radio-group {
  padding-top: 15px;
  padding-left: 55px;
}
mat-radio-button {
  margin-left: 30px;
}
