.container {
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.mat-expansion-panel-header-title {
  flex-grow: 2;
  align-self: center;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
  align-self: flex-end;
  margin-right: 0;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: #c44512;
  background-color: red;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: #c44512;
  background-color: red;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: #c44512;
  background-color: red;
}

mat-expansion-body /deep/ .expansion-panel-body {
  padding: 0 20px;
}

mat-form-field {
  text-align: right;
  width:55px;
  background: inherit;
  color: #396e9b;;
}

mat-expansion-panel-header {
  position: relative;
}

mat-expansion-panel-header {
  padding-bottom: 30px;
}

.slider {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: 88%
}

mat-expansion-panel-header:hover .slider {
  /* display: block;
  position: absolute;
  bottom: 0px;
  width: 80% */
}
