<h1 mat-dialog-title>About CovidSIM</h1>
<div mat-dialog-content>

  <div class="column">
    <p>
      Development by Martin Eichner (Epimos GmbH) and Markus Schwehm (ExploSYS GmbH)
      supported by University of Tübingen and IMAAC NEXT Association.
    </p>

    <p>
      <a href="/assets/Model_description_Version_1.1.pdf">Model Description Version 1.1</a>
    </p>

    <p>
      <a href="https://www.medrxiv.org/content/10.1101/2020.03.20.20039776v1">
        Modelling the Potential Health Impact of the COVID-19 Pandemic on
        a Hypothetical European Country</a> (refers to CovidSIM Version 1.0)
    </p>

    <p>
      <a href="https://www.health.govt.nz/system/files/documents/publications/report_for_moh_-_covid-19_pandemic_nz_final.pdf">
        Potential Health Impacts from the COVID-19 Pandemic for New Zealand if Eradication Fails:
        Report to the NZ Ministry of Health</a> (refers to CovidSIM Version 1.0)

    </p>

    <p>Responsible for this page: Dr.-Ing Markus Schwehm (markus.schwehm@explosys.de)</p>

  </div>

</div>
<div mat-dialog-actions>
  <mat-toolbar>
    <span><a href="http://epimos.com"><img src="./assets/Epimos.gif" alt="Epimos" width="65px" style="padding-top: 2px;"></a></span>
    <span class="spacer"></span>
    <span><a href="http://explosys.de"><img src="./assets/exploratorySystems.png" alt="ExploSYS" width="80px" style="padding-top: 6px;"></a></span>
    <span class="spacer"></span>
    <span><a href="http://imaac-next.com"><img src="./assets/IMAAC_NEXT.png" alt="IMAAC NEXT" width="100px"></a></span>
  </mat-toolbar>
</div>

