main {
  height: 99vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  flex: 0;
  color: #333333;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  // overflow: hidden;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  // align-items: stretch;
  overflow: hidden;
  background: #f5f5f5;
}

.control {
  // height: 100%;
  flex: 0 0 420px;
  padding: 10px;
  overflow: hidden;
  background: #c1d6d9;
}

.content {
  // height: 100%;
  flex: 2 0 540px;
  padding: 10px;
  overflow: hidden;
  background: #f2cab6
}

.scroll {
  height: 100%;
  flex: 1;
  overflow: auto;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  z-index: 3;
  flex: 0;
  text-align: center;
  background: #fafafa;
  padding: 1em 0 .1em 0;
  // border: 1px solid rgba(0,0,0,.12);
  // box-shadow: 0 2px 5px rgba(0,0,0,.3);
  width: 100%;
  z-index: 3;
}


@media (max-width: 950px) {

  section {
    flex-direction: column;
    overflow: visible;
  }

  .content, .control {
    flex: 1 1 auto;
  }

  main {
    height: auto;
    max-height: auto;
  }

  .scroll {
    height: fit-content;
  }

}
