<main>

  <header>
    <app-header></app-header>
  </header>

  <section>

    <div class="control">
      <div class="scroll">
        <app-control></app-control>
      </div>
    </div>

    <div class="content">
      <div class="scroll">
        <app-content></app-content>
      </div>
    </div>

  </section>

  <footer>
    <app-footer></app-footer>
  </footer>

</main>
