<mat-tab-group>
  <mat-tab label="Population">
    <app-slider [parameter]="parameter.population_size"></app-slider>
    <app-slider [parameter]="parameter.initial_cases"></app-slider>
  </mat-tab>

  <mat-tab label="Durations">
    <app-slider [parameter]="parameter.latency_duration"></app-slider>
    <app-slider [parameter]="parameter.latency_stages"></app-slider><br>
    <app-slider [parameter]="parameter.prodromal_duration"></app-slider>
    <app-slider [parameter]="parameter.prodromal_stages"></app-slider><br>
    <app-slider [parameter]="parameter.infective_duration"></app-slider>
    <app-slider [parameter]="parameter.infective_stages"></app-slider>
  </mat-tab>

  <mat-tab label="Severity">
    <app-slider [parameter]="parameter.symptomatic_course_of_disease"></app-slider>
    <app-slider [parameter]="parameter.medical_consultations_by_symptomatic_cases"></app-slider>
    <app-slider [parameter]="parameter.hospitalisation_of_symptomatic_cases"></app-slider>
    <app-slider [parameter]="parameter.icu_patients_among_hospitalized_cases"></app-slider>
    <app-slider [parameter]="parameter.case_fatality_of_symptomatic_cases"></app-slider>
  </mat-tab>

  <mat-tab label="Contagiousness">
    <app-slider [parameter]="parameter.basic_reproduction_number"></app-slider>
    <app-slider [parameter]="parameter.maximal_seasonal_transmission_factor"></app-slider>
    <app-slider [parameter]="parameter.maximal_seasonal_transmission_day"></app-slider>
    <br>
    <app-slider [parameter]="parameter.prodromal_contagiousness"></app-slider>
  </mat-tab>

  <mat-tab label="Interventions">
    <app-slider [parameter]="parameter.contact_reduction_factor"></app-slider>
    <app-slider [parameter]="parameter.contact_reduction_begin"></app-slider>
    <app-slider [parameter]="parameter.contact_reduction_range"></app-slider>
    <br>
    <app-slider [parameter]="parameter.symptomatic_cases_to_be_isolated"></app-slider>
    <app-slider [parameter]="parameter.case_isolation_capacity"></app-slider>
    <app-slider [parameter]="parameter.case_isolation_begin"></app-slider>
    <app-slider [parameter]="parameter.case_isolation_range"></app-slider>
  </mat-tab>

  <mat-tab label="Detection">
    Detection of COVID-19 in an apparently free Population by random SARS-CoV-2 tests<br>
    in patients with Influenza-Like Illness (ILI)<br><br>
    <app-slider [parameter]="parameter.detection_probability_medical_consultaion"></app-slider>
    <app-slider [parameter]="parameter.detection_probability_hospitalisation"></app-slider>
    <app-slider [parameter]="parameter.detection_probability_deceased_case"></app-slider><br>
  </mat-tab>
</mat-tab-group>
