.column {
  overflow: auto;
}

mat-card {
  margin-bottom: 10px;
  padding: 16px 0 0;
}

mat-card-title {
  padding: 0 24px;
  font-size: 24px;
  font-weight: 500;
}

mat-card-content {
  background: #c1d6d9
}

mat-panel-title {
  font-size: 18px;
  font-weight: 500;
}

mat-toolbar {
  display: flex;
  justify-content: center;
  color: #999;
}

mat-drawer {
  padding: 0 10px;
  background: #f5f5f5;
}

mat-panel-description {
  color: salmon
}

mat-accordion {
  padding-bottom: 5px;
  background: inherit;
}

mat-tab-group /deep/ .mat-tab-label {
  padding: 0 18px; min-width: 80px;
}

mat-expansion-panel /deep/ .mat-expansion-panel-body {
  padding: 0;
}

.red {
  padding: 0 48px 10px;
  color: #c44512;
}

.comment {
  padding: 0 48px 10px;
}
